# LangChain Core
langchain
langchain-core

# Hugging Face Integration
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

fastapi 
uvicorn
langchain-community
fastembed
faiss-cpu
resend
langchain-groq
